      *{
        margin: 0;
        padding: 0;
      }
      .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
      }
      .container input{
        width: 60%;
        background-color:#f3f3f3;
      }
      .loginbtn button{
        width: 60%;
        background-color: #5161CE;
        color: white;
        border-radius: 30px;
      }